#include "resource.h"
#include <win/DialogStyle.h>
#include <win/stdwindows_styles.h>
#include <win/CommonControls/Static.h>

///// Icons /////////////////////////////////////////////////////////////////

IDI_MEDIUM       				ICON    DISCARDABLE     "../RES/MEDIUM.ICO"
IDI_SMALL               ICON    DISCARDABLE     "../RES/SMALL.ICO"

/////////////////////////////////////////////////////////////////////////////



