STRINGTABLE DISCARDABLE 
BEGIN
	//Racreg32 error codes with 200 added for offset
	201	"Unknown run time error occurred"
	202	"No protocol was specified"
	203	"No server machine name was specified"
	204	"An error occurred reading from the registry"
	205	"An error occurred writing to the registry"
	206	"Both the ProgID and CLSID parameters were missing"
	207	"There is no local server (either in-process or cross-process, 16-bit or 32-bit)"
	208	"There was an error looking for the Proxy DLLs, check that they were installed properly"

	//Errors
	32750	"An error occured changing server connection settings: <NAME>."
END